paho-mqtt==1.6.1
pydantic==2.4.2
PyYAML==6.0.1
requests==2.31.0
opencv-python==4.8.1.78
numpy==1.24.3
psutil==5.9.5
shapely>=2.0.1
ultralytics>=8.0.0
torch==2.6.0
# onnxruntime==1.16.1 # Uncomment if using ONNX format
# rkinnlite==1.5.0 # Need manual installation for RK3588
